@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////2222222222                                
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= VARIABLES ========== */
:root {
  --primary-clr: green;
  --primary-clr-alt: greenyellow;
  --second-clr: green;
  --second-clr-alt: #027c97;
  --text-clr: #f5fdff;
  --nav-txt-clr: var(--text-clr);
  --text-clr-bg: #f5fdff;
  --bg-clr: #2d4253;
  --mobile-menu-bg-clr: #3e586d;
  --sec-two-bg-clr: var(--mobile-menu-bg-clr);
  --form-bg-clr: #dcf1ff70;
  --form-focus-bg-clr: #bf93cf73;
  --gray-clr: #f5f8fa;
  --product-bg-clr: #364f63;
  --bx-shadow-clr: #6d477b33;
}

/* ------------ BASE ------------ */
body {
  scroll-behavior: smooth;
  font-family: "Pompiere", cursive;
  font-size: 1.2rem;
  color: var(--text-clr);
  background-color: var(--bg-clr);
  transition: background-color 1000ms;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.pos-abs-center {
  position: absolute;
}

.s-definition {
  font-size: calc(27 * 0.06rem);
  max-width: 32rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

/* -- transitions -- */
.clr-transition {
  transition: color 1000ms;
}

.bg-clr__transition {
  transition: background-color 1s;
}

/* -- buttons -- */
.button {
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  color: var(--text-clr-bg);
}

.btn-primary {
  background-color: green;
}

.btn-second-alt {
  background-color: transparent;
  border: thin solid var(--text-clr);
  color: var(--text-clr);
}

/* -- container -- */
.container {
  padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

@media screen and (min-width: 3000px) {
  .container {
    padding: 1.8rem 500px;
  }
}

/* -- header -- */
header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--nav-txt-clr);
  font-size: 2.3rem;
  text-decoration: none;
  margin-right: 2rem;
  padding: 10px 20px;
    background-color: white;
    border: 3px solid green;
    border-radius: 1em;
    color: black;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px green;
}

  .logo:hover {
    transform: translate(5px, -5px);
  }
.nav-items {
  display: flex;
  margin-right: 5rem;
}
.nav-item {
  margin-right: 3rem;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--nav-txt-clr);
  text-decoration: none;
  font-size: 1.7rem;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary-clr-alt);
  bottom: 0;
  transform: scaleX(0);
  transition: 150ms transform;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--nav-txt-clr);
}

.social-links ul {
  display: flex;
  gap: 1.5rem;
}

/* About Section */
.about_section {
  text-align: center;
  padding: 2rem 0;
}

.about_head h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about_head h2 span {
  color: yellowgreen;
}

.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about_image img {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 50%;
  border: 2px solid yellowgreen;
  filter: drop-shadow(0 0 8px #00ff1e);

}


.about_info p {
  max-width: 1200px;
  display: flex;
  align-items: justify;
  text-justify: inter-word;
  font-size: 20px;
  font-weight: bolder;
  line-height: 1.5rem;
}


/* Skills Section */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.skills_section{
  width: 100%;
  height: 100vh;
  padding: 0px 13%;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_head{
  font-size: 30px;
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}
.skills_head h2{
  font-size: 50px;
  margin-bottom: -5px;
}
.skills_head h2 span{
  color: yellowgreen;
}
.skills_main{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
  font-weight: 500;
}
.skill_bar .bar{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: yellowgreen;
  border-radius: 25px;
}
.skill_bar .bar .html{
  width: 90%;
  animation: html 2s;
}
@keyframes html {
  0%{
      width: 0%;
  }100%{
      width: 90%;
  }
}
.skill_bar .bar .css{
  width: 85%;
  animation: css 2s;
}
@keyframes css {
  0%{
      width: 0%;
  }100%{
      width: 85%;
  }
}
.skill_bar .bar .sass{
  width: 80%;
  animation: sass 2s;
}
@keyframes sass {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
.skill_bar .bar .js{
  width: 80%;
  animation: css 2s;
}
@keyframes js {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
.skill_bar .bar .react{
  width: 75%;
  animation: react 2s;
}
@keyframes react {
  0%{
      width: 0%;
  }100%{
      width: 75%;
  }
}
.skill_bar .bar .node{
  width: 70%;
  animation: node 2s;
}
@keyframes node {
  0%{
      width: 0%;
  }100%{
      width: 70%;
  }
}
.skill_bar .bar .express{
  width: 65%;
  animation: express 2s;
}
@keyframes express {
  0%{
      width: 0%;
  }100%{
      width: 65%;
  }
}
.skill_bar .bar .mongo{
  width: 60%;
  animation: mongo 2s;
}
@keyframes mongo {
  0%{
      width: 0%;
  }100%{
      width: 60%;
  }
}
